.carousel {
  position: relative;
  perspective: 10000px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  transform: rotateY(calc(var(--offset) * 10deg)) scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc((1 - var(--abs-offset)) * 3rem))
    translateX(calc(var(--direction) * 5rem));

  filter: blur(calc(var(--abs-offset) * 5rem));
  transition: all 0.3s ease-out;
  top: 100px;
  left: 100px;
}
