/* $color-purple: #8B5CF6;
$color-pink: #EC4899;
$color-gray: #9CA3AF;
$color-black: #1F2937;
$card-size: 23rem; */

.carousel {
    position: relative;
    perspective: 10000px;
    transform-style: preserve-3d;
    /* background-color: lightslategray; */
  }
  
  .card-container {
    position: absolute;
    transform: rotateY(calc(var(--offset) * 10deg)) scaleY(calc(1 + var(--abs-offset) * -0.4))
      translateZ(calc((1 - var(--abs-offset)) * 3rem)) /* Moves further back */
      translateX(calc(var(--direction) * 5rem));
  
    filter: blur(calc(var(--abs-offset) * 5rem));
    transition: all 0.3s ease-out;
    top: 100px;
    left: 100px;
  }
  
  /* .card-container {
    position: absolute;
    transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4))
      translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
    top: 70px;
    left: 70px
  } */
  
  /* .card-container {
    width: 20rem;
    height: 20rem;
    transform: rotateY(calc(var(--offset) * 30deg)) scaleY(calc(1 + var(--abs-offset) * -0.2))
      translateZ(calc(var(--abs-offset) * -10rem)) translateX(calc(var(--direction) * -2rem));
    transition: all 0.3s ease-out;
  } */
  